<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <!-- Link to the CSS file stored in the public/css directory -->
    <link rel="stylesheet" href="/css/about.css" type="text/css"/>
  </head>
  <body>
    <div id="main-container">
      <h1>I'm ABOUT Page</h1>
    </div>
  </body>
  <!-- Link to the JS file stored in the public/js directory -->
  <script type="application/javascript" src="/js/about.js"></script>
</html>
