<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>data</title>
  </head>
  <body>
    <div id="data-container">
      <div id="inner-container">
        <h5 id="key"></h5>
        <p id="value"></p>
      </div>
    </div>
    <!-- <form id="login-data" autocomplete="off" method="get">
        <h3>My DATA</h3>
  
        <label for="username">Username</label>
        <input
          type="text"
          placeholder="Enter Name"
          id="username"
          autocomplete="off"
          name="username"
          required
        />
        <div id="username-error" class="error-message"></div>
  
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="Password"
          id="password"
          name="password"
          required
        />
  
        <button type="submit" id="login-button">Log In</button>
  
        <a href="#">
          <p>Sign Up</p>
        </a>
      </form> -->
  </body>
  <script src="../js/data.js"></script>
</html>
