<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="login-form" autocomplete="off" method="post">
      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input
        type="text"
        placeholder="Enter Name"
        id="username"
        autocomplete="off"
        name="username"
        required
      />
      <div id="username-error" class="error-message"></div>

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
        required
      />

      <button type="submit" id="login-button">Log In</button>

      <a href="#">
        <p>Sign Up</p>
      </a>
    </form>
  </body>
  <!-- <script src="/server/app.js" type="application/javascript"></script> -->
</html>
